@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Coda&family=Roboto');

/* Mobile First */
:root {
    --background-color: #000000;
    --surface-color: #121212;
    --body-text: #f3f3f3;
    --border-color: #ffffff24;
    --accent-color: #009688;
    --trophy-size: 12px;
}

body,
html {
    background-color: var(--background-color);
    color: var(--body-text);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

body::after {
    content: 'mobile';
    display: none;
}

a {
    color: var(--accent-color);
    text-decoration: underline;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

h2,
h3 {
    margin: 0px;
    padding: 0px;
    color: var(--accent-color);
}

h1 {
    margin: 20px 0px 0px 0px;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    font-size: 30px;
}

h1 span {
    display: block;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    padding: 0px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    align-items: center;
}

header #logo {
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
}

/* Contact */
.contact {
    position: absolute;
    z-index: 100;
    right: 20px;
    top: 0px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.contact svg {
    height: 24px;
    width: 24px;
    fill: var(--accent-color);
}

.contact a {
    text-decoration: none;
    margin: 3px 0px 3px 0px;
    font-family: 'Coda', sans-serif;
    letter-spacing: 1px;
}

.contact a span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
    color: var(--accent-color);
    transition: max-width 0.5s ease-in-out;
}

@media (hover: hover) {

    /* Media query is used because on some mobile devices, 
    a touch event can trigger the :hover CSS pseudo-class */
    .contact a:hover span {
        max-width: 300px;
    }
}

/* End Contact */

/* End Grid layout adjustments */

section {
    background: var(--surface-color);
    position: relative;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Skills */
#skill-lists {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin: 20px 40px 0px 0px;
}

#skill-lists ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* Previous Work */
section.projects {
    grid-column: span 2;
    padding-bottom: 30px;
}

section.projects .carousel::after {
    content: 'flickity';
    display: none;
}

section.projects figure {
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 0px;
    width: 230px;
    text-align: center;
}

section.projects figure div {
    display: none;
}

section.projects .carousel figure {
    background: white;
    margin: 0px 5px 0px 5px;
    filter: grayscale(1) brightness(0.8);
}

section.projects .carousel figure.is-selected {
    filter: none;
}

section.projects .carousel .dot {
    background: white;
}

section.projects figcaption {
    margin-top: -5px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: var(--surface-color)
}

/* Button */

.button {
    padding: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    background-color: var(--surface-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.button.disabled {
    filter: grayscale(1);
    opacity: 0.5;
}

/* Mask */
#mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: var(--surface-color);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#mask.show {
    opacity: 0.95;
}

/* Modal */
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.modal-container.show {
    opacity: 0.95;
    transition: opacity 0.5s ease-in-out;
}

.modal-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content h2 {
    margin: 20px 0px 10px 0px;
    width: 100%;
    padding: 0px;
    text-align: center;
}

.modal-content img {
    display: block;
    margin: 20px auto 10px auto;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.modal-content p {
    padding: 20px 0px 0px 0px;
    width: 80%;
    max-width: 1000px;
    display: block;
    margin: auto;
}

.modal-content .button {
    width: 70px;
}

.modal-content .buttons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal-close-link {
    display: block;
    margin-top: 60px;
    cursor: pointer;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
    body::after {
        content: 'tablet';
        display: none;
    }

    header {
        justify-content: center;
    }

    header #logo {
        align-items: center;
        margin: 0px;
    }

    section.projects {
        padding-bottom: 15px;
    }

    section.projects .carousel figure {
        margin: 0px;
        cursor: pointer;
        filter: grayscale(1) brightness(0.8);
    }

    section.projects .carousel figure:hover {
        filter: none;
    }

    section.projects .carousel::after {
        content: '';
    }

    section.projects div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
    }

    section.projects .carousel figure img {
        border-radius: 3px;
    }

}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
    body::after {
        content: 'desktop';
        display: none;
    }

    main {
        margin: 5px 5px 20px 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    section.about {
        border-top-left-radius: 10px;
    }

    section.skills {
        border-top-right-radius: 10px;
    }

    section.projects {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    section p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .modal-container {
        width: 900px;
        height: 700px;
        top: 100px;
        left: 50%;
        transform: translateX(-450px);
    }
}